body {
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    background: -webkit-linear-gradient(0deg,  white, #B0B0B0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg,  white, #B0B0B0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, white, #B0B0B0); /* For Firefox 3.6 to 15 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */
}
img {
	-webkit-box-shadow: 10px 10px 30px #e74c3c, -10px -10px 30px #e74c3c;
    -moz-box-shadow: 10px 10px 30px #e74c3c, -10px -10px 30px #e74c3c; /* Firefox */
    box-shadow: 10px 10px 30px #e74c3c, -10px -10px 30px #e74c3c; /* CSS3 */
    top: 30px;
    left: 30px;
	margin: 0 auto;
    display: block;

}

#logo {
    padding-top: 20px;
    width: 900px;
    margin:auto;
}
table, th, td {
	border:1px solid black;
	border-collapse:collapse;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
}

th {
	background-color: #0099FF;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:5px;
	color: white;
}

td {
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:5px;
}

tr:nth-child(odd) {
	background:#95a5a6;
}

tr:nth-child(even) {
	background:#bdc3c7;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}

footer a
{
    text-align: center;
    text-decoration: none;
    color: blue;
}

footer a:hover { 
    text-decoration: underline;
}