body {
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    background: -webkit-linear-gradient(0deg,  white, #B0B0B0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg,  white, #B0B0B0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, white, #B0B0B0); /* For Firefox 3.6 to 15 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */
}
img {
	-webkit-box-shadow: 10px 10px 30px #F7343B, -10px -10px 30px #F8F84A;
    -moz-box-shadow: 10px 10px 30px #F7343B, -10px -10px 30px #F8F84A; /* Firefox */
    box-shadow: 10px 10px 30px #F7343B, -10px -10px 30px #F8F84A; /* CSS3 */
    top: 30px;
    left: 30px;
	margin: 0 auto;
    display: block;

}

#logo {
    padding-top: 20px;
    width: 900px;
    margin:auto;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}
