body {
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    background: -webkit-linear-gradient(0deg,  white, #7f8c8d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg,  white, #7f8c8d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, white, #7f8c8d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, white, #7f8c8d); /* Standard syntax (must be last) */
    background: -webkit-linear-gradient(0deg,  white, #B0B0B0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg,  white, #B0B0B0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, white, #B0B0B0); /* For Firefox 3.6 to 15 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */
}

img {
	-webkit-box-shadow: 10px 10px 30px #e74c3c, -10px -10px 30px #f1c40f;
    -moz-box-shadow: 10px 10px 30px #e74c3c, -10px -10px 30px #f1c40f; /* Firefox */
    box-shadow: 10px 10px 30px #e74c3c, -10px -10px 30px #f1c40f; /* CSS3 */
    top: 30px;
    left: 30px;
	margin: 0 auto;
    display: block;

}

#logo {
    padding-top: 20px;
    width: 900px;
    margin:auto;
}

.container {
    margin-top: 40px;
}

#board {
    background-color: #e74c3c;
    border-radius: 25px;
    margin-bottom: 20px;
    left: 10px;
    width: 700px;
    height: 600px;
    padding: 50px;
    float: left;
    margin: 0px 60px 30px 60px;
    clear: both;
}

.col {
    background-color: #3498db;
    float: left;
    height: 600px;
    width: 100px;
}

.col-left {
    border: 1px solid transparent;
    border-width: 0;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.col-right {
    border: 1px solid transparent;
    border-width: 0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.circle {
    position: absolute;
    top: 0px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: yellow;
    z-index: 1;
}

.circle_player {
    background-color: #f1c40f;
}

.circle_computer {
    background-color: #c0392b;
}

.circle_empty {
    width: 98px;
    height: 98px;
    border: 1px solid black;
}

#settings {
    float: left;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-right: 100px;
}

#table {
    float: left;
    margin-left: 100px;
}

#new-game {
    -moz-box-shadow:inset 0px 0px 0px -50px #54a3f7;
    -webkit-box-shadow:inset 0px 0px 0px -50px #54a3f7;
    box-shadow:inset 0px 0px 0px -50px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    border:2px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:13px;
    padding:6px 7px;
    text-decoration:none;
    text-shadow:0px 0px 0px #154682;
}

#new-game:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
#new-game:active {
    position:relative;
    top:1px;
}

#time_limit{
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4f9af5), color-stop(1, #4fadf5));
    background:-moz-linear-gradient(top, #4f9af5 5%, #4fadf5 100%);
    background:-webkit-linear-gradient(top, #4f9af5 5%, #4fadf5 100%);
    background:-o-linear-gradient(top, #4f9af5 5%, #4fadf5 100%);
    background:-ms-linear-gradient(top, #4f9af5 5%, #4fadf5 100%);
    background:linear-gradient(to bottom, #4f9af5 5%, #4fadf5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f9af5', endColorstr='#4fadf5',GradientType=0);
    background-color:#4f9af5;
    border:2px solid #124d77;
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:13px;
    padding:6px 7px;
    text-decoration:none;
    text-shadow:0px 0px 0px #154682;
    width: 100px;
}

table, th, td {
	border:1px solid black;
	border-collapse:collapse;
    clear: both;
}

th {
	background-color: #2980b9;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:5px;
	color: white;
}

td {
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:5px;
}

tr:nth-child(odd) {
	background:#95a5a6;
}

tr:nth-child(even) {
	background:#bdc3c7;
}

tr:hover {
	background-color: #2980b9;
	transition: background-color 500ms linear;
	color:white;
}
footer
{
    clear: both;
    padding-top: 10px;
    width: 100%;
    line-height: 0.5;
    font-size: 12px;
    margin-bottom: 50px;
}
footer p
{
    text-align: center;
    text-decoration: none;
}
footer a
{
    text-align: center;
    text-decoration: none;
    color: blue;
}
#links
{
    text-align: center;
}
footer a:hover { 
    text-decoration: underline;
}